/* 초기화 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, font,
img, ins, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, button
{margin:0;padding:0;border:0;}
ol, ul, li, dl, dt, dd {list-style:none;margin:0;padding:0;}
a, a:link, a:visited, a:active { text-decoration: none; }
table {border-spacing:0;border-collapse: collapse;}
img { -ms-interpolation-mode: bicubic; vertical-align: top;}
select { color:#555; vertical-align:middle; padding: 5px; }
input { color:#555; font-size: 13px; font-family: 'NotoSans', Arial; vertical-align:middle; }
input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none; border-radius:0}
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
h1, h2, h3, h4, h5, h6{font-weight:normal;font-size:1em;}
button { background: none; cursor: pointer; }
textarea { resize: none;}






#screen {width:100vw; height:100vh position:absolute;}
#screen #section-A {width: 0%; height: 100%; left: 0; top: 0; position:absolute; background-color:aliceblue;}
#screen #section-A #canvasA {border: 1px solid black; margin: 100px 0px 0px 100px; }
#screen #section-A #statusA {border: 1px solid ; width: 1600px; height: 200px; left: 100px; position: absolute;}
#screen #section-A #statusA #healthA {width: 1600px; height: 10px; left: 0; top: 0; position:absolute; background-color: red;}
#screen #section-A #statusA #skill-section-A {width: 1600px; height: 190px; left: 0; top: 10px; position: absolute; background-color: steelblue; text-align : center;}
#screen #section-A #statusA #skill-section-A #skill1 {width: 80px; height: 80px; left: 540px; top: 80px; position:absolute; background: url(../css/images/skills/skill1.png);}
#screen #section-A #statusA #skill-section-A #skill2 {width: 80px; height: 80px; left: 660px; top: 80px; position:absolute; background: url(../css/images/skills/skill2.png);}
#screen #section-A #statusA #skill-section-A #skill3 {width: 80px; height: 80px; left: 780px; top: 80px; position:absolute; background: url(../css/images/skills/skill3.png);}
#screen #section-A #statusA #skill-section-A a {top: 82px; position:relative;}
#screen #section-A #statusA #skill-section-A #skillBox1 {width: 30px; height: 30px; left: 565px; top: 40px; position:absolute; background: url(../css/images/skills/skillBoxInvalid.png);}
#screen #section-A #statusA #skill-section-A #skillBox2 {width: 30px; height: 30px; left: 685px; top: 40px; position:absolute; background: url(../css/images/skills/skillBoxInvalid.png);}
#screen #section-A #statusA #skill-section-A #skillBox3 {width: 30px; height: 30px; left: 805px; top: 40px; position:absolute; background: url(../css/images/skills/skillBoxInvalid.png);}
#screen #section-A #statusA #skill-section-A #skill-point {width: 100px; height: 30px; left: 900px; top: 120px; position:absolute; background-color: ghostwhite;}

#screen #section-A #statusA #info-section-A {width: 200px; height: 190px; left: 1400px; top: 10px; position:absolute; background-color: white;}


#screen #rank {height: 100%; width: 400px; left: 1700px; top:0px; position: absolute;}
#screen #rank #rank-board {height: 600px; width: 300px; left: 50px; top: 100px; position:absolute; background-color: steelblue;}
#screen #rank #rank-board #rank-image {color: #d3d3d37d; font-size: 17px;font-family:cursive; height: 30px; width: 100px; left: 10px; top: 50px; position:absolute;}
#screen #rank #rank-board #rank-list {height: 520px; width: 290px; left:5px; top:75px; position:absolute; background: url(./images/ranking-list.png);}

#screen #rank #rank-board #rank-list #r-pos{text-align:center; height: 490px; width: 40px; position:absolute;}
#screen #rank #rank-board #rank-list #r-pos ol{margin-top: 29px;}
#screen #rank #rank-board #rank-list #r-pos ol li {padding-top: 17px; }

#screen #rank #rank-board #rank-list #r-score{text-align:center; height: 490px; width: 80px; left: 40px; position:absolute;}
#screen #rank #rank-board #rank-list #r-score ol{margin-top: 29px;}
#screen #rank #rank-board #rank-list #r-score ol li {padding-top: 17px; }

#screen #rank #rank-board #rank-list #r-name{text-align:center; height: 490px; width: 170px; left:120px; position:absolute;}
#screen #rank #rank-board #rank-list #r-name ol{margin-top: 29px;}
#screen #rank #rank-board #rank-list #r-name ol li {padding-top: 17px; }

#screen #rank #rank-board #resetRank {color: #e7e7e7; height: 20px; width: 40px; top: 572px; left: 130px; position:absolute;}
#screen #rank #rank-board #resetRank:hover {color:#ffa48f;}


.boxOn {background: url(../css/images/skills/skillBoxValid.png) !important;}
